$buttoncolor: #03C6D6;
$buttonhover: #03DBEC;
$bordercolor:#03B4C3;
$fontcolor: #8C8E90;
$white: #fff;
$font: 'Open Sans';

body{
  font-family: $font;
  font-weight:300;
  font-size:20px;
  overflow:hidden;
}

.container {
  width:526px;
  margin-left:auto;
  margin-right:auto;
  margin-top:250px;
  border: 1px solid $bordercolor;
  border-top:none;
    .content {
      overflow: hidden;
    }
}

.menu {
  background-color:#FEFEFE;
  p {
    font-size:15px;
    color:$fontcolor;
    width: 95%;
    margin:0;
    margin-left:20px;
 }
 }

button {
  width:100%;
  text-align:left;
  padding-left:25px;
  color:$white;
  background:$buttoncolor;
  border-style: none;
  border-top: 1px solid $bordercolor !important;
  border-style: none;
  outline:none;
    &:hover {
      background-color: $buttonhover;
      transition: 1s all ease;
    }
}

.show {
  height:100px;
  padding:0;
}

.content {
height:0;
}

}