$buttoncolor: #03C6D6;
$buttonhover: #03DBEC;
$bordercolor:#03B4C3;
$fontcolor: #8C8E90;
$white: #fff;
$font: 'Open Sans';
$transition:1s all ease;

body{
  font-family: $font;
  font-weight:300;
  font-size:20px;
  overflow: hidden;
}

.container {
  font-family: $font;
  width:526px;
  margin-left:auto;
  margin-right:auto;
  margin-top:250px;
  border: 1px solid $bordercolor;
  border-top:none;
  background-color:#FEFEFE;
  transition: $transition;
    a {
      color:lightgrey;
      text-decoration: none;

        &:hover {
          color:$buttoncolor;
          transition: $transition;
      }
    }
}

section {
  
  p {
    font-size:15px;
    color:$fontcolor;
    width: 95%;
    margin-left:20px;
    transition: $transition;
    overflow:hidden;
 }

  button {
    width:100%;
    text-align:left;
    padding-left:25px;
    color:$white;
    background:$buttoncolor;
    border-style: none;
    border-top: 1px solid $bordercolor !important;
    border-style: none;
    outline:none;
    font-weight:300;
    font-size:25px;

      &:hover {
        background-color: $buttonhover;
        transition: $transition;
      }
  }
}

.hide {
  height:0;
  padding:0;
  margin:0;
} 