body {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 20px;
  overflow: hidden; }

.container {
  font-family: "Open Sans";
  width: 526px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  border: 1px solid #03B4C3;
  border-top: none;
  background-color: #FEFEFE;
  transition: 1s all ease; }

section p {
  font-size: 15px;
  color: #8C8E90;
  width: 95%;
  margin-left: 20px;
  transition: 1s all ease;
  overflow: hidden; }

section button {
  width: 100%;
  text-align: left;
  padding-left: 25px;
  color: #fff;
  background: #03C6D6;
  border-style: none;
  border-top: 1px solid #03B4C3 !important;
  border-style: none;
  outline: none;
  font-weight: 300;
  font-size: 25px; }
  section button:hover {
    background-color: #03DBEC;
    transition: 1s all ease; }

.hide {
  height: 0;
  padding: 0;
  margin: 0; }
